html,
body,
:global(#root) {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
}

.basic {
  position: relative;
  display: block;
  min-height: 100%;
  width: 750px;
  margin: auto;
  background: #fafafa;
  color: #fff;

  .header {
    background: blue;
    font-size: 36px;
    padding: 20px 0;
  }

  .content {
    background: green;
    font-size: 32px;
    padding: 20px 0;
  }

  .footer {
    background: gold;
    font-size: 30px;
    padding: 20px 0;
  }
}
